/* mainPage */
#wrap {
    background-color: #F5EEEC;
    position: fixed;
    display: flex;
}

.mainPage .mainTitle {
    transform: translateX(-100px);
    display: inline-block;
    opacity: 0;
    font-size: 130px;
    font-family: "Sulphur Point";
    margin-left: 100px;
    margin-top: 50px;
    line-height: 1.0;
}

/* header */
.header {
    overflow: hidden;
}

/* nav menu */
.header .menu {
    float: right;
    margin-top: 50px;
    margin-right: 30px;
    transform: translateY(-50px);
    opacity: 0;
}

.menu ul {
    display: flex;
    justify-content: space-between;
}

.menu ul li{
    list-style: none;
    margin-right: 30px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* subMenu */
.subMenu {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-left: 100px;
    transform: translateY(-15%);
}

.subMenu div {
    margin-left: 0;
    margin-right: 0;
}

.subMenu div span{
    color: black;
    cursor: pointer;
}

.subMenu .aboutMe {
    width: 411px;
    height: 500px;
    background-color: #F0A398;
    position: relative;
}

.subMenu .aboutMe .desc {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.subMenu .aboutMe .subTitle {
    font-size: 400px;
    font-family: 'Raleway Dots';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.subMenu .site {
    width: 560px;
    height: 630px;
    background-color: #BA85CC;
    position: relative;
    text-overflow: clip;
}

.subMenu .site .desc {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.subMenu .site .subTitle {
    font-size: 400px;
    font-family: 'Porter Sans Block';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.subMenu .script {
    width: 345px;
    height: 790px;
    background-color: #85B2CC;
    position: relative;
}

.subMenu .script .subTitle {
    font-size: 400px;
    font-family: 'Italiana';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.subMenu .script .desc {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.subMenu .contact {
    width: 360px;
    height: 700px;
    background-color: #FFD395;
    position: relative;
}

.subMenu .contact .subTitle {
    font-size: 400px;
    font-family: 'Phosphate';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.subMenu .contact .desc {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.scrollValue {
    position: fixed;
    bottom: 0;
    left: 0;
    font-weight: 1000;
}

/* ABOUT ME*/
.aboutMeBox {
    position: relative;
    margin-left: 200px;
    width: 150vw;
    height: 100vh;
}

.submenuBox {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.submenuBox .aboutMe {
    width: 445px;
    height: 425px;
    background-color: #F0A398;
}

.submenuBox .aboutMe .aboutBoxTitle {
    font-family: "Raleway Dots";
    color: black;
    font-size: 100px;
    margin-left: 50px;
    margin-top: 30px;
}

.submenuBox .site {
    width: 205px;
    height: 50px;
    background-color: #BA85CC;
}

.submenuBox .script {
    width: 205px;
    height: 50px;
    background-color: #85B2CC;
}

.submenuBox .contact {
    width: 205px;
    height: 50px;
    background-color: #FFD395;
}

/* intro */
.introduce {
    display: flex;
    margin-left: 600px;
}

.firstPic {
    width: 555px;
    height: 830px;
    background-color: #F0A398;
    position: relative;
}

.firstPic img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.firstIntro {
    width: 555px;
    height: 930px;
    background-color: #E26747;
}

.firstIntro h2 {
    font-size: 50px;
    font-family: "Chosunilbo_myungjo";
    color: white;
    line-height: 1.5;
    margin-top: 40px;
    padding: 0 50px;
}

.firstIntro p {
    font-size: 16px;
    font-family: "Chosunilbo_myungjo";
    color: white;
    line-height: 1.5;
    margin-top: 100px;
    padding: 0 50px;
}

.secondPic {
    width: 555px;
    height: 830px;
    background-color: #F0A398;
    position: relative;
}

.secondPic img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.secondIntro {
    width: 555px;
    height: 755px;
    background-color: #E26747;
}

.secondIntro h2{
    font-size: 50px;
    font-family: "Chosunilbo_myungjo";
    color: white;
    line-height: 1.5;
    margin-top: 40px;
    padding: 0 50px;
}

.secondIntro p {
    font-size: 16px;
    font-family: "Chosunilbo_myungjo";
    color: white;
    line-height: 1.5;
    margin-top: 100px;
    padding: 0 50px;
}

/* siteWork page */
.siteWork{
    position: relative;
    height: 100vh;
    margin-left: 200px;
}

.siteWork .siteWorkSubMenu {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
}

.siteWork .siteWorkSubMenu .text {
    font-family: "Porter Sans Block";
    font-size: 80px;
    padding: 0 10px;
}

/* sitwork submenu */
.siteWork .aboutMe {
    width: 205px;
    height: 50px;
    background-color: #F0A398;
    position: relative;
}

.siteWork .site {
    width: 411px;
    height: 500px;
    background-color: #BA85CC;
}

.siteWork .script {
    width: 205px;
    height: 50px;
    background-color: #85B2CC;
}

.siteWork .contact {
    width: 205px;
    height: 50px;
    background-color: #FFD395;
}

.siteWorkSection {
    height: 875px;
    background-color: #BA85CC;
    display: flex;
    margin-left: 770px;
}

/* webstandard */
.siteWorkSection .webStandard {
    margin-left: 100px;
    width: 85vw;
    overflow: hidden;
    position: relative;
}

.webStandard h2 {
    font-family: "Porter Sans Block";
    font-size: 80px;
    margin-top: 20px;
}

.webStandard .webStandardText {
    display: inline-block;
    font-family: "Chosunilbo_myungjo";
    width: 320px;
    font-size: 18px;
    line-height: 2.0;
    margin-top: 150px;
}

.webStandard .standard_imgBox{
    position: relative;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
}

.webStandard .standardView {
    position: absolute;
    right: 50px;
    bottom: 30px;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.standard_image {
    position: relative;
    background-image: url("../img/캡처\ 2.jpg");
    width: 1230px;
    height: 615px;
}

.webStandard .standardView .imgBoxText{
    text-align: center;
    line-height: 5.5;
    color: #ffffff;
    font-size: 30px;
}

.webStandard .standard_codeView {
    width: 205px;
    height: 45px;
    background-color: #9253A8;
    text-align: center;
    line-height: 2.5;
    margin-bottom: 20px;
}

.webStandard .standard_codeView a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Chosunilbo_myungjo";
}

/* mainSite */
.siteWorkSection .mainSite{
    margin-left: 300px;
    overflow: hidden;
    width: 85vw;
    margin-right: 0;
}

.mainSite h2 {
    font-family: "Porter Sans Block";
    font-size: 80px;
    margin-top: 50px;
}

.mainSite .mainSiteText {
    font-family: "Chosunilbo_myungjo";
    font-size: 18px;
    width: 320px;
    line-height: 2.0;
    float: right;
    transform: translateY(-370px);
}

.mainSite .mainSite_codeView {
    width: 205px;
    height: 45px;
    background-color: #9253A8;
    text-align: center;
    line-height: 2.5;
    margin-top: 40px;
    margin-bottom: 20px;
    float: left;
}

.mainSite .mainSite_codeView a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Chosunilbo_myungjo";
}

.mainSite .mainSite_image {
    position: relative;
    background-image: url("../img/캡처\ 2.jpg");
    width: 1230px;
    height: 615px;
}

.mainSite .mainSiteView {
    position: absolute;
    right: 50px;
    bottom: 30px;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.mainSite .imgBoxText{
    text-align: center;
    line-height: 5.5;
    color: #ffffff;
    font-size: 30px;
}

/* php */
.siteWorkSection .php{
    margin-left: 300px;
    overflow: hidden;
    width: 85vw;
    position: relative;
}

.php h2 {
    font-family: "Porter Sans Block";
    font-size: 80px;
    margin-top: 20px;
}

.php .phpText {
    font-family: "Chosunilbo_myungjo";
    font-size: 18px;
    line-height: 2.0;
    margin-top: 150px;
    width: 320px;
    display: inline-block;
}

.php .phpImgBox {
    position: absolute;
    right: 0;
    bottom: 0;
}
.php .php_image {
    position: relative;
    background-image: url("../img/php.jpg");
    width: 1230px;
    height: 615px;
}

.php .php_imgContents {
    float: right;
}

.php .php_codeView {
    width: 205px;
    height: 45px;
    background-color: #9253A8;
    text-align: center;
    line-height: 2.5;
    margin-top: 85px;
    margin-bottom: 20px;
}

.php .php_codeView a {
    text-decoration: none;
    color: #ffffff;
    font-family: "Chosunilbo_myungjo";
}

.php .phpView {
    position: absolute;
    right: 50px;
    bottom: 30px;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.php .imgBoxText{
    text-align: center;
    line-height: 5.5;
    color: #ffffff;
    font-size: 30px;
}

/* react */
.siteWorkSection .react{
    margin-left: 300px;
    overflow: hidden;
    width: 85vw;
}

.react h2 {
    font-family: "Porter Sans Block";
    font-size: 80px;
}

.react .react_image {
    position: relative;
    background-image: url("../img/react.jpg");
    width: 1230px;
    height: 615px;
}

.react .reactText {
    font-family: "Chosunilbo_myungjo";
    font-size: 18px;
    line-height: 2.0;
    float: right;
    width: 340px;
    transform: translateY(200px);
}

.react .reactView {
    position: absolute;
    right: 50px;
    top: 30px;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.react .react_codeView {
    width: 205px;
    height: 45px;
    background-color: #9253A8;
    text-align: center;
    line-height: 2.5;
    margin-top: 85px;
    margin-bottom: 20px;
}

.react .react_codeView a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.react .imgBoxText{
    text-align: center;
    line-height: 5.5;
    color: #ffffff;
    font-size: 30px;
}

/* game */
.siteWorkSection .game{
    margin-left: 300px;
    width: 90vw;
    position: relative;
}

.game h2 {
    font-family: "Porter Sans Block";
    font-size: 80px;
    margin-top: 20px;
}

.game .gameText {
    font-family: "Chosunilbo_myungjo";
    font-size: 18px;
    width: 340px;
    line-height: 2.0;
    float: right;
    margin-top: 120px;
    padding: 0 70px;
}

.game .game_imgBox {
    position: absolute;
    bottom: 0;
}

.game .gameView {
    position: absolute;
    right: 50px;
    bottom: 30px;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.game .game_codeView {
    width: 205px;
    height: 45px;
    background-color: #9253A8;
    text-align: center;
    line-height: 2.5;
    margin-bottom: 20px;
}

.game .game_codeView a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: "Chosunilbo_myungjo";
}

.game .game_image {
    position: relative;
    background-image: url("../img/game.jpg");
    width: 1230px;
    height: 615px;
}

.game .imgBoxText{
    text-align: center;
    line-height: 5.5;
    color: #ffffff;
    font-size: 30px;
}

/* script section */
.scriptSection {
    position: relative;
    width: 8000px;
    height: 100vh;
    margin-left: 200px;
}

.scriptSection .scriptSubMenu{
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
}

.scriptSection .scriptSubMenu .aboutMe{
    width: 205px;
    height: 50px;
    background-color: #F0A398;
}

.scriptSection .scriptSubMenu .site{
    width: 205px;
    height: 50px;
    background-color: #BA85CC;
}

.scriptSection .scriptSubMenu .script{
    width: 411px;
    height: 500px;
    background-color: #85B2CC;
}

.scriptSection .script .scriptText {
    font-size: 100px;
    display: inline-block;
    font-family: 'Italiana';
    margin: 50px 50px;
}

.scriptSection .scriptSubMenu .contact{
    width: 205px;
    height: 50px;
    background-color: #FFD395;
}

.scriptSection .scriptTitle {
    font-size: 300px;
    font-family: "Italiana";
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 1250px;
}

.scriptSection .scriptMain {
    position: absolute;
    left: 2200px;
    bottom: 0;
    overflow: hidden;
}

.scriptSection .scriptContents{
    background-color: #ffddd4;
    width: 230vw;
    height: 85vh;
}

.scriptSection .topSection {
    width: 200vw;
    height: 15vh;
    background-color: black;
    margin-left: 30vw;
}

.topSection .topText {
    font-family: 'Bebas Neue';
    display: inline-block;
    font-size: 40px;
    line-height: 0.9;
    text-align: start;
    color: #fff;
    margin-left: 350px;
    margin-top: 40px;
}

.scriptContents .subText {
    font-family: 'Bebas Neue';
    font-size: 19px;
    font-weight: 200;
    display: inline-block;
    margin-top: 100px;
    margin-left: 40px;
    transform: rotate(90deg);
    font-weight: 400;
}

.effectBox {
    display: flex;
}

/* mouseEffect */
.mouseEffect {
    margin: -7vh 7vw 20vh 15vw;
    overflow: hidden;
    position: relative;
    width: 1230px;
}

.mouseEffect iframe {
}

.mouseEffect .mouse_subtitle {
    display: block;
    margin-top: 10px;
    font-family: 'Dosis';
    font-size: 16px;
}

.mouseEffect .mouse_title {
    font-size: 40px;
    font-family: 'Bebas Neue';
    display: inline-block;
    margin-top: 10px;
}

.mouseEffect .mouse_desc {
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.5;
    float: right;
}

/* sliderEffect */
.sliderEffect {
    margin: -7vh 7vw 20vh 0;
    position: relative;
    width: 1230px;
}

.sliderEffect iframe {
}

.sliderEffect .slider_subtitle {
    display: block;
    margin-top: 10px;
    font-family: 'Dosis';
    font-size: 16px;
}

.sliderEffect .slider_title {
    font-size: 40px;
    font-family: 'Bebas Neue';
    display: inline-block;
    margin-top: 10px;
}

.sliderEffect .slider_desc {
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.5;
    float: right;
}

/* parrallax */
.parallaxEffect {
    margin: -7vh 7vw 20vh 0;
    position: relative;
    width: 1230px;
}

.parallaxEffect iframe {
}

.parallaxEffect .parallax_subtitle {
    display: block;
    margin-top: 10px;
    font-family: 'Dosis';
    font-size: 16px;
}

.parallaxEffect .parallax_title {
    font-size: 40px;
    font-family: 'Bebas Neue';
    display: inline-block;
    margin-top: 10px;
}

.parallaxEffect .parallax_desc {
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.5;
    float: right;
}


